* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--primary: #204051;
	--secondary: #84a9ac;
	--light: #e7dfd5;
	--dark: #3b6978;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculator {
	min-width: 25%;
	height: 50%;
	background-color: var(--secondary);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	border-radius: 5%;
	border: solid 1px var(--light);
}

#display {
	width: 94%;
	height: 20%;
	background-color: var(--light);
	padding: 1%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;
	border-radius: 5%;
	margin-top: 1vh;
	margin-left: 1vw;
}

#prev-operation {
	align-self: flex-start;
	height: 25%;
	font-size: 2vh;
}

#current-operation {
	height: 75%;
	font-size: 7vh;
}

#btn-grid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-gap: 2%;
	grid-template-columns: repeat(4, 22%);
	grid-template-rows: repeat(5, 13%);
	margin-top: 1vh;
	margin-left: 1vw;
}

.btn {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color: #f9f9f9;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}
.btn:hover {
	background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color: #e9e9e9;
}
.btn:active {
	position: relative;
	top: 1px;
}

#one {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

#two {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}

#three {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
}

#four {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#five {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#six {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

#seven {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#eight {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nine {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

#zero {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
}

#subtract {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#decimal {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
}

#add {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}

#multiply {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

#divide {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

#clear {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#equals {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 6;
}

@media (max-width: 770px) {
	#calculator {
		min-width: 30%;
	}
}

@media (max-width: 500px) {
	#calculator {
		min-width: 40%;
	}
}

@media (max-width: 400px) {
	#calculator {
		min-width: 50%;
	}
}
